@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid vh-100">
    <h1>Hello World, Dashborad</h1>
    <h1>Hello World, Dashborad</h1>
    <h1>Hello World, Dashborad</h1>
    <h1>Hello World, Dashborad</h1>
</div>
